/* slider */
* :after :before{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-flow:column nowrap;
	align-items: center;

}
.sliderContainer{
	display: flex;
 	align-items: stretch;
 	width: 90%;
	height:30em;
 	/*margin: 15% 0; */
}
.sliderButton{
  width: 1.25em;
  border: none;
  background: transparent;
  color: #4C4C4C;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
}
.sliderButton:hover{
	opacity: 1;
}
.slider {
  width: 100%;
  overflow: hidden;
  height: 30em;
  position: relative;
}
.slider li img{
  border: none;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 900%;
  height: 100%;
  top: 0;
}
.slider li {
  padding: 0;
  margin: 0;
  width: 11.11111111%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;

  &:nth-child(2) {
    color: #fff;
  }
}
