/* General reset:
	 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Noto Serif', serif;
	font: inherit;
	vertical-align: baseline;
}

* :after, :before{
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
	margin: 0;
  padding: 0;
}
li{
	display: block;
}
img{
  display: block;
  padding:0;
	max-width: 100%;
  height:auto;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr{
	display: block;
	padding: 0;
	height: 2em;
	border: 0;
}

/* Font declarations */
h1 {
	font-size: 250%;
	font-weight: 700;
}
h2 {
	font-size: 175%;
	font-weight: 700;
}
h3 {
	font-size: 150%
	font-weight: 700;
}
h4{
	font-size: 150%;
}
a {
	text-decoration: none;
}
a:visited {
	color: #4F4F4F;
}
a:hover, a:active {
	color: #A9A8A8;
}
/* Body, Header & Footer */
body {
	background-color: #F7F8F8;
}
header{
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	background: #4C4C4C url('images/placeholder1.png') no-repeat center;
	background-size: 100%;
	max-width: 100%;
	height: 25em;
	align-items: center;
	justify-content: center;
	padding: 2%;
}
header h1{
	font-size:650%;
	color:#285050;
}
header h2{
	font-size: 500%;
	color: #335D5D;
	/*668585*/
}
footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	height: 5em;
	padding: 2%;
	background-color: #4C4C4C;
	border-top: 2px solid #2b4458;
}

footer h4{
	color: #EEEFEF;
	font-variant-caps: small-caps;
}

/* Nav Bar */
 nav {
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-end;
	 align-items: center;
	 height: 5em;
	 background: #4C4C4C;
 	 padding-right: 5%;
 }
 .dropdownContent {
	 display: none;
 }
 nav h4, a, a:hover, a:active, a:visited{
	 padding: 1%;
	 color: #EEEFEF;
	 font-variant-caps: small-caps;
 }
/* container displays */
.container {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin: 5% 0;
	align-items: center;
	justify-content: center;

}
.rowContainer {
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
  align-items: flex-start;
  justify-content: space-around;
}
.columnContainer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	padding: 2%;
}
.bannerContainer {
	display: flex;
	flex-flow: row nowrap;
	max-width: 80%;
	height: auto;
	justify-content: space-around;
	align-items: center;
}
.bannerContainer img{
	height: auto;
	width: 30%;
}
.textBox {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	height: auto;

}


/* slider */
.sliderContainer{
	display: flex;
 	align-items: stretch;
 	width: 90%;
	height:30em;
 	/*margin: 15% 0; */
}
.sliderButton{
  width: 1.25em;
  border: none;
  background: transparent;
  color: #4C4C4C;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
}
.sliderButton:hover{
	opacity: 1;
}
.slider {
  width: 100%;
  overflow: hidden;
  height: 30em;
  position: relative;
}
.slider li img{
  border: none;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 900%;
  height: 100%;
  top: 0;
}
.slider li {
  padding: 0;
  margin: 0;
  width: 11.11111111%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;

  &:nth-child(2) {
    color: #fff;
  }
}

/* images */
.profilePic {
	height: auto;
	width: 100%;
	border-radius: 50%;
}
.portFeature{
	width: 100%;
	height:auto;
}
.resumePic{
	width: 100%;
	height: auto;
}

/*animations & decorations */
.lineBreak {
  height: 5px;
  width: 50%;
  border: 2px solid #2b4458;
  margin: 5em 0;
}

/**********************
	Media Queries
	*********************/

	@media screen and (max-width: 768px){
		.rowContainer{
			flex-flow: row wrap;
		}
		.textBox{
			width:90%;
		}
		header{
			height: 15em;
		}
		header h1{
			font-size: 400%;
		}
		header h2{
			font-size: 300%;
		}
	}
	@media screen and (max-width: 375px){
		header h1{
			font-size: 300%;
		}
		h2{
			font-size: 125%;
		}
	}
